
<span class="material-symbols-outlined inventory-button" onclick="openInventory()">
backpack
</span>

<span class="material-symbols-outlined document-button" onclick="openDocuments()">
    description
</span>

<button class="material-symbols-outlined interact-button" onclick="interact()" disabled>touch_app</button>

<div class="inventory hidden">
    <span class="close-inventory" id="close-inventory" onclick="closeInventory()"> &times </span>
    <span class="material-symbols-outlined back-inventory hidden" id="goBackArrow" onclick="closeTradeMenu()"> arrow_back </span>
    <div class="submenu-title"> Inventory </div>
    <div class="side-by-side-inventory">
        <div class="grid">
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
        </div>
        <div class="item-description">
            <div class="item-desc-title"></div>
            <div class="item-desc-text"></div>
            <button onclick="openTradeMenu()"> Trade </button>
        </div>
    </div>
    <div class="characters hidden" id="tradeMenu">
        <div class="character">
            <div class="character-image white-lines" data-unavailable="false"></div>
            <div class="name-info white-lines">
                <h2 class="character-name"></h2>
            </div>
        </div>
        <div class="character">
            <div class="character-image white-lines" data-unavailable="false"></div>
            <div class="name-info white-lines">
                <h2 class="character-name"></h2>
            </div>
        </div>
        <div class="character">
            <div class="character-image white-lines" data-unavailable="false"></div>
            <div class="name-info white-lines">
                <h2 class="character-name"></h2>
            </div>
        </div>
    </div>
</div>

<div class="document hidden">
    <span class="close-document" id="close-document" onclick="closeDocuments()"> &times; </span>
    <div class="submenu-title"> Documents </div>
    <div class="document-content">
        <div class="document-list">
            <div class="document-item"></div>
            <div class="document-item"></div>
            <div class="document-item"></div>
            <div class="document-item"></div>
        </div>
        <div class="document-description">
            <div class="document-desc-title"></div>
            <div class="document-desc-text"></div>
        </div>
    </div>
</div>
