
<span class="material-symbols-outlined inventory-button" onclick="openInventory()">
backpack
</span>
<button class="material-symbols-outlined interact-button" onclick="interact()" disabled>touch_app</button>

<div class="inventory hidden">
    <span class="close-inventory" id="close-inventory" onclick="closeInventory()"> &times </span>
    <div class="submenu-title"> Inventory </div>
    <div class="side-by-side-inventory">
        <div class="grid">
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
        </div>
        <div class="item-description">
            <div class="item-desc-title"></div>
            <div class="item-desc-text"></div>
        </div>
    </div>
</div>