<div class="character-selection">

    <h1>Select Your Character</h1>

    <div class="characters">

        <div class="character" data-character="tech">
            <div class="character-image" onclick="selectCharacter(this)"></div>
            <div class="name-info">
                <h2 class="character-name">Tech</h2>
                <button onclick="characterInfo(this)" class="material-symbols-outlined">info</button>
            </div>
        </div>

        <div class="character" data-character="journalist">
            <div class="character-image" onclick="selectCharacter(this)"></div>
            <div class="name-info">
                <h2 class="character-name">Journalist</h2>
                <button onclick="characterInfo(this)" class="material-symbols-outlined">info</button>
            </div>
        </div>

        <div class="character" data-character="detective">
            <div class="character-image" onclick="selectCharacter(this)"></div>
            <div class="name-info">
                <h2 class="character-name">Detective</h2>
                <button onclick="characterInfo(this)" class="material-symbols-outlined">info</button>
            </div>
        </div>

        <div class="character" data-character="mechanic">
            <div class="character-image" onclick="selectCharacter(this)"></div>
            <div class="name-info">
                <h2 class="character-name">Mechanic</h2>
                <button onclick="characterInfo(this)" class="material-symbols-outlined">info</button>
            </div>
        </div>

    </div>

</div>