{% if not is_shared_space %}
<div class="landscape-mode-overlay">
    <h1>Use landscape mode</h1>
    <span class="material-symbols-outlined">
    screen_rotation
    </span>
</div>

<div class="character-selection">

    <h1>Select Your Character</h1>

    <div class="characters">
        <div class="character" data-character="tech">
            <div class="character-image" onclick="selectCharacter(this)" data-unavailable="false"></div>
            <div class="name-info">
                <h2 class="character-name">Tech</h2>
                <button onclick="characterInfo(this)" class="material-symbols-outlined">info</button>
            </div>

            <div class="character-info pop-up hidden">
                <button onclick="closePopUp(this)" class="material-symbols-outlined close">close</button>
                <h1>Tech</h1>

                <div class="content">
                    <div class="character-image">
                        <img src="/img/tech.png" alt="">
                    </div>

                    <div class="character-introduction">
                        <p class="description">You're the group's techie, extremely profficient with handling
                            software of all kinds. You were assigned to this group because of these skills,
                            allowing you to access information that others might not be able to, break digital
                            locks, and many other abilities in the digital realm.</p>
                        <p class="skills"> <span class="material-symbols-outlined char-symbol">devices</span>
                            Data Dynamo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="character" data-character="journalist">
            <div class="character-image" onclick="selectCharacter(this)" data-unavailable="false"></div>
            <div class="name-info">
                <h2 class="character-name">Journalist</h2>
                <button onclick="characterInfo(this)" class="material-symbols-outlined">info</button>
            </div>

            <div class="character-info pop-up hidden">
                <button onclick="closePopUp(this)" class="material-symbols-outlined close">close</button>
                <h1>Journalist</h1>

                <div class="content">
                    <div class="character-image">
                        <img src="/img/journalist.png" alt="">
                    </div>

                    <div class="character-introduction">
                        <p class="description">You're here because you were sent to document this investigation,
                            however you are still useful to it. Due to your background you have read up on a lot
                            of information regarding cases like this, and you are to recognise patterns ot trace
                            back information to similar cases you have read in the past.</p>
                        <p class="skills"> <span class="material-symbols-outlined char-symbol">menu_book</span> Fact Falcon</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="character" data-character="detective">
            <div class="character-image" onclick="selectCharacter(this)" data-unavailable="false"></div>
            <div class="name-info">
                <h2 class="character-name">Detective</h2>
                <button onclick="characterInfo(this)" class="material-symbols-outlined">info</button>
            </div>

            <div class="character-info pop-up hidden">
                <button onclick="closePopUp(this)" class="material-symbols-outlined close">close</button>
                <h1>Detective</h1>

                <div class="content">
                    <div class="character-image">
                        <img src="/img/detective.png" alt="">
                    </div>

                    <div class="character-introduction">
                        <p class="description">You have a lot of training on where to find clues, and have the
                            techniques to get them if need. You were trained to pick locks, collect
                            fingerprints, and other forms of tracking. You are the jack of all trades of the
                            group.</p>
                        <p class="skills"> <span class="material-symbols-outlined char-symbol">mystery</span> Cipher Sage</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="character" data-character="mechanic">
            <div class="character-image" onclick="selectCharacter(this)" data-unavailable="false"></div>
            <div class="name-info">
                <h2 class="character-name">Mechanic</h2>
                <button onclick="characterInfo(this)" class="material-symbols-outlined">info</button>
            </div>

            <div class="character-info pop-up hidden">
                <button onclick="closePopUp(this)" class="material-symbols-outlined close">close</button>
                <h1>Mechanic</h1>

                <div class="content">
                    <div class="character-image">
                        <img src="/img/mechanic.png" alt="">
                    </div>

                    <div class="character-introduction">
                        <p class="description">You serve the purpose of tackling everything hardware related in
                            this operation, since that's what you would be doing outside of it anyway. You have
                            a great knowledge about engineering, allowing you to repair any machine you might
                            find, or dismantle them if the need for such arises.</p>
                        <p class="skills"> <span class="material-symbols-outlined char-symbol">plumbing</span> Metal Maestro</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <button onclick="lockInCharacter(this)" class="lock-in">Lock In</button>

</div>
{% else %}
<div class="character-selection">
    <h1>Characters Selected:</h1>
    <div class="characters">
        <div class="character">
            <h2 class="character-name-hidden"> Unselected </h2>
            <div class="character-image" data-unavailable="false"></div>
            <div class="name-info">
                <h2 class="character-name"></h2>
            </div>
        </div>
        <div class="character">
            <h2 class="character-name-hidden"> Unselected </h2>
            <div class="character-image" data-unavailable="false"></div>
            <div class="name-info">
                <h2 class="character-name"></h2>
            </div>
        </div>
        <div class="character">
            <h2 class="character-name-hidden"> Unselected </h2>
            <div class="character-image" data-unavailable="false"></div>
            <div class="name-info">
                <h2 class="character-name"></h2>
            </div>
        </div>
        <div class="character">
            <h2 class="character-name-hidden"> Unselected </h2>
            <div class="character-image" data-unavailable="false"></div>
            <div class="name-info">
                <h2 class="character-name"></h2>
            </div>
        </div>
    </div>
</div>
{% endif %}