{%if is_shared_space %}
<div class = 'ready_menu'>
    <div class = "lobby_title">Lobby</div>
    <div class = "player_info"><h1>You are the host</div>
    <h1>{{room_id}}</h1>
    <div class = "title">One Hit Wonder</div>
    <h1 id="readyCount">0/4</h1>     
    <div class="readyNames"> Ready players: </div>
</div>
{%else %}
<div class = 'ready_menu'>
    <div class = "lobby_title">Lobby</div>
    <div class = "player_info"><h1>Welcome{{username}}</h1></div>
    <h1>{{room_id}}</h1>
    <div class = "title">One Hit Wonder</div>
    <h1 id="readyCount">0/4</h1>
    <button onclick="setReady()" class = "ready_button" id ="readyButton">Ready</button>    
</div>
{%endif %}
