{% extends "base.html" %}

{% block title %}
Negate - {{ room_id }}
{% endblock %}

{% block styles %}
<link rel='stylesheet' type='text/css' media='screen' href="/css/game_styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="/js/game.js"></script>
<script src="/js/functions.js"></script>
{% endblock %}

{% block content %}
<!-- URL: game/room_id?username=username -->
<!-- Context variables -->
<!-- room_id: str -->
<!-- username: str -->
<main>

    <h1>{{ room_id }} - {{ username }}</h1>


    <div class="ready-menu">
        <h1 id="readyCount">0/4</h1>

        <button onclick="setReady()" id="readyButton">Ready</button>
    </div>

</main>

{% endblock %}