{% extends "base.html" %}

{% block title %}
Negate - {{ room_id }}
{% endblock %}

{% block styles %}
<link rel='stylesheet' type='text/css' media='screen' href="/css/styles.css">
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="/js/game.js"></script>
{% endblock %}

{% block content %}
<!-- URL: game/room_id?username=username -->
<!-- Context variables -->
<!-- room_id: str -->
<!-- username: str -->
<h1>{{ room_id }} - {{ username }}</h1>
{% endblock %}
