{% extends "base.html" %}

{% block title %}
Negate - Home
{% endblock %}
{% block styles %}
<link rel='stylesheet' type='text/css' media='screen' href="/css/styles.css">
{% endblock %}
{% block scripts %}
<script src="/js/home.js"></script>
{% endblock %}

{% block content %}

<div id="main-menu">

    <input type="text" id="usernameInput" placeholder="Enter your username">
    <form id="createRoomForm">
        <input type="submit" value="Create Room">
    </form>

    <form id="joinRoomForm">
        <input type="text" placeholder="Enter room code" id="roomIdInput">
        <input type="submit" value="Join Room">
    </form>

</div>

{% endblock %}
