/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/modak'); /*fonte title*/


:root {
    --canvas: #d1c6c6;
    --button: #FFE279;
    --pop-up: #000000;
    --text: #000000;
    --light-text: #FFFFFF;
    --outlines: #000000;
    --light-outlines: #FFFFFF;
    --highlight: #e0de60;
    --disabled: #8b8b8b;
    --input-field: #aec3d7;

    --smartphone: 480px;
    --low-res-tablet: 767px;
    --tablet: 1024px;
    --desktop: 1280px;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button {
    font-weight: 600;
}
h1 {
    font-size: 2.6rem;
}


.hidden {
    display: none !important;
}

.main-absolute {
    position: absolute;
    z-index: -1;
}

.main-absolute * {
    z-index: 1;
}

.highlighted {
    border: 2px solid var(--highlight) !important;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(2) translate(-75%, 75%);

    outline: none;
    border: none;
    background-color: transparent;
    color: var(--light-text);
    cursor: pointer;
}

/* *LOBBY (READY)* */
.ready_menu {
    position: absolute;
    justify-content: center;
    align-content: center;
    background-color: var(--canvas);
    width: 60%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.ready_button {
    margin: 0.5rem 0;
    border-radius: 3.125rem;
    outline: none;
    border: none;
    background-color: var(--button);
    color: var(--light-text);
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 500;
    min-width: 12rem;
    cursor: pointer;
}

.lobby_title {
    color: rgba(0, 0, 0, 1);
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.title {
    font-family: 'Modak', sans-serif;
    font-size: 3rem;
    color: white;
}

.player_info {
    margin-bottom: 0.5rem;
}

.readyNames {
    font-size: 1rem; 
}

/* *MEDIA QUERIES* */
@media screen and (max-height: 480px) {
    .ready_menu {
        gap: 0;
    }

    .title {
        font-size: 40px;
    }

    .readyNames {
        font-size: 0.8rem; /* Further adjusted font size for smaller screens */
    }
}




/* *CHARACTER SELECTION* */
.character-selection {
    background-color: var(--canvas);
    width: 80%;
    height: 80%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.characters {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.character * {
    margin: 0;
    padding: 0;
}

.character > .character-image {
    width: 150px;
    aspect-ratio: 1/1;
    border: 2px solid var(--outlines);
    border-radius: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.character-image > img {
    width: 100%;
    aspect-ratio: 1/1;
    image-rendering: pixelated;
}

.name-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.name-info > button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.lock-in {
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--button);
    color: var(--light-text);
    font-size: 30px;
    padding: 1rem;
}

.lock-in:disabled {
    background-color: var(--disabled);
}


.character-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;

    background-color: var(--pop-up);
    color: var(--light-text);
    border-radius: 20px;
    opacity: 0.95;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-info > h1 {
    position: absolute;
    top: 2rem;
    font-size: 50px;
}

.character-info > .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-info > .content > * {
    margin: 2rem;
}

.character-info > .content > .character-image {
    width: 100px;
    aspect-ratio: 1/1;
    border: 2px solid var(--light-outlines);
    border-radius: 20px;
    cursor: pointer;

    flex: 1;
}

.character-info > .content > .character-introduction {
    height: 100%;
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.character-info > .content > .character-introduction > .description {
    position: relative;
}

.character-info > .content > .character-introduction > .description::after{
    position: absolute;
    width: calc(100% + 2rem);
    height: 0px;
    content: "";
    border: 1px solid white;

    top: calc(100% + 1rem);
    left: -1rem;
}

.character-info > .content > .character-introduction > .skills {
    font-size: 2em;
    font-weight: 600;
}

.greyed-out {
    background-color: rgba(128, 128, 128, 0.9);
    background-blend-mode: luminosity;
}

.character-name-hidden {
    visibility: hidden;
}


.inventory {
    visibility: visible;
    position: absolute;
    top: 15%;
    right: 10%;
    align-content: center;
    background-color: var(--pop-up);
    width: 80%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    box-shadow: 0 0 0 999999px rgba(0, 0, 0, 0.3);
    opacity: 80%;
    justify-content: center;
}

.inventory-button {
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(4) translate(-50%, 100%);
    cursor: pointer;
    background-color: var(--button);
    color: var(--light-text);
    border-radius: 0.4rem;
}

.interact-button {
    user-select: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(3) translate(-50%, -100%);
    cursor: pointer;
    background-color: var(--button);
    color: var(--light-text);
    border-radius: 0.4rem;
    outline: none;
    border: none;
    padding: 0;
}

.interact-button:disabled {
    background-color: var(--disabled);
}

.char-symbol {
    transform: scale(2);
    padding-right: 1rem;
}


.close-inventory {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(2) translate(-75%, 40%);
    cursor: pointer;
    color: var(--light-text);
}

.side-by-side-inventory {
    width: 80%;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 50%;
}

.grid {
    max-height: 100%;
    flex: 1;
    max-width: 40%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-flow: row wrap;
    overflow-y: scroll;
}

.grid::-webkit-scrollbar, .item-description::-webkit-scrollbar {
    background-color: transparent;
}
.grid::-webkit-scrollbar-thumb, .item-description::-webkit-scrollbar-thumb  {
    background-color: #d6dee1;
    border-radius: 20px;
}
.grid-item {
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-color: var(--light-outlines);
    color: var(--light-text);
    aspect-ratio: 1/1;
    text-align: center;
}
.grid-item:nth-of-type(1) {
    border-radius: 0.7rem 0 0 0;
}
.grid-item:nth-of-type(3) {
    border-radius: 0 0.7rem 0 0;
}
.grid-item:nth-of-type(7) {
    border-radius: 0 0 0 0.7rem;
}
.grid-item:nth-of-type(9) {
    border-radius: 0 0 0.7rem 0;
}

.item-description {
    max-height: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: scroll;
}

.item-desc-title {
    text-align: center;
    color: var(--light-text);
}

.item-desc-text {
    color:var(--light-text);
}
.submenu-title {
    color: var(--light-text);
    font-size: 30px;
}
/* *MEDIA QUERIES* */
@media screen and (max-height: 480px){
    h1 {
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    h2 {
        margin: 0.5rem;
    }
    .close {
        transform: translate(-75%, 75%);
    }


    .character-selection {
        gap: 1.5rem;
    }

    .lock-in {
        font-size: 18px;
        padding: 0.5rem;
        border-radius: 10px;
    }

    .characters {
        width: 100%;
        justify-content: space-evenly;
    }

    .character{
        font-size: 10px;
        gap: 0.5rem;
    }

    .character > .character-image {
        width: 100px;
        image-rendering: pixelated;
    }

    .character-info > h1 {
        font-size: 30px;
        top: 1rem;
    }

    .character-info > .content {
        gap: 1rem;
    }
    .character-info > .content > * {
        margin: 1rem;
    }

    .character-info > .content > .character-introduction > .description::after{
        width: calc(100% + 0.5rem);
        left: -0.25rem;
    }


    .inventory {
        gap: 1.5rem;
    }

    .inventory-button {
        transform: scale(2) translate(-30%, 70%);
    }

    .item-description {
        gap: 1rem;
    }
}