body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin: 20px 0;
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.character {
    margin: 10px;
    text-align: center;
}

.character-image {
    width: 150px;
    height: 150px;
    border: 3px solid transparent;
    cursor: pointer;
}

.character-name {
    font-size: 18px;
    margin: 10px 0;
}

.ready-button {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.ready-button:hover {
    background-color: #45a049;
}
