<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ready Page</title>
</head>
<body>
    <h1>Ready Page</h1>
    <p id="playerCount">0/4 ready</p>
    <button id="readyButton">I'm ready</button>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        //Fiz aqui o js pq sim
        
        const socket = io.connect("http://127.0.0.1:5000/");

        const playerCountElement = document.getElementById("playerCount");
        const readyButton = document.getElementById("readyButton");

        readyButton.addEventListener("click", () => {
            // Emitir "ready"
            socket.emit("ready");
        });

        socket.on("playerCountUpdate", (count) => {
            // Dar update ao counter de players ready
            playerCountElement.textContent = `${count}/4 ready`;
        });
    </script>
</body>
</html>
